body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.charactersheet .p-dropdown-label.p-inputtext {
  color: var(--p-yellow-400);
}

.hidden-nowrap {
  overflow: hidden !important;
  white-space: nowrap;
  max-width: 100% !important;
}

/* sidebar */

.sidebar-toggle {
  position: absolute;
  right: -36px;
  top: -1px;
  width: 32px;
  height: 32px;
  z-index: 100;
  padding: 0;
  box-shadow: unset;
}

.sidebar-container {
  width: 23rem;
  transition: width 0.2s ease-in-out;

  li {
    white-space: nowrap;
  }
}

.sidebar-closed {
  .sidebar-container {
    width: 8.4rem;
  }

  li {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

/* sidebar end */

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--bluegray-800) transparent;
}
